<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Quantidade total de receitas: {{ number_of_recipes }}</p>
    <h1>Theory</h1>
    <ul>
    {% for recipe in recipes  %}
        <li>ID: {{ recipe.id }}  {{ recipe.author_full_name }}  Título: {{ recipe.title }}</li>
    {% empty %}
        <p>No recipes found</p>
    {% endfor %}
    </ul>
</body>
</html>